
// Fonts
@import url('https://fonts.googleapis.com/css?family=Amatic+SC:400,700|Oswald:300,400,600|Roboto:300,400,500');


// Variables
@import 'variables';


// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import '~@fortawesome/fontawesome-free/css/all.css';
@import '~bootstrap-datepicker/dist/css/bootstrap-datepicker.css';


$menu-color: #fff;

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
#mainHeader{
  margin-bottom: -161px;
  position: relative;
  z-index: 5;
  color: $menu-color;
}
#mainHeader .navbar-nav{
  color: $menu-color;
  font-family: $font-family-sans-serif;
}
#mainHeader .navbar-brand{
  width: 228px;
  margin: 0px;
  padding: 0px;
  margin-top: 27px;
}
.navbar-expand-lg .navbar-toggler{
  border: none;
  float: right;
  margin-top: 35px;
  color: #fff;
  font-size: 30px;
}
#mainHeader .navbar-collapse{
  float: right;
  margin-top: 39px;
}
.hundred-percent{
  width: 100%;
}
.navbar-light .navbar-nav .nav-link{
  font-family: $font-family-sans-serif;
  font-size: 20px;
  color: #fff;
  padding: 0 20px;
  font-weight: 300;
}
.sliderbar{
    margin-top: -80px;
}
.sliderbtn{
    font-family: 'Roboto',sans-serif;
    color: #fff;
    border: 3px solid #00a99f;
    padding: 7px 19px;
    text-decoration: none;
    font-size: 25px;    
    font-weight: bold;
    margin-bottom: 20px;
    display: inline-block;
}
.sliderbtn:hover{
    color: #00a99f;
    text-decoration: none;

}
