
// Fonts
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic');

// Variables
//@import 'variables';

// Bootstrap
@import '~admin-lte/bower_components/bootstrap/dist/css/bootstrap.min.css';
@import '~admin-lte/bower_components/font-awesome/css/font-awesome.min.css';
@import '~admin-lte/bower_components/Ionicons/css/ionicons.min.css';
@import '~admin-lte/bower_components/jvectormap/jquery-jvectormap.css';
@import '~admin-lte/dist/css/AdminLTE.min.css';
@import '~admin-lte/dist/css/skins/_all-skins.min.css';
@import '~grapesjs/dist/css/grapes.min.css';
@import '~grapesjs/dist/css/grapes.min.css';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
.label{
  color: #000 !important;
  font-size: 100%;
}
.gjs-editor{
  font-size:  1rem;
}
.gjs-trt-traits{
  font-size: 1rem;
}
.gjs-field input{
  color: #26a5e2;
}

.jcarousel-wrapper {
  margin: 20px auto;
  position: relative;
  border: 10px solid #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 2px #999;
  -moz-box-shadow: 0 0 2px #999;
  box-shadow: 0 0 2px #999;
}

/** Carousel **/

.jcarousel {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.jcarousel ul {
  width: 10000em;
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
}

.jcarousel li {
  width: 200px;
  float: left;
  border: 1px solid #fff;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.jcarousel img {
  display: block;
  max-width: 100%;
  height: auto !important;
}

/** Carousel Controls **/

.jcarousel-control-prev,
.jcarousel-control-next {
  position: absolute;
  top: 50%;
  margin-top: -15px;
  width: 30px;
  height: 30px;
  text-align: center;
  background: #4E443C;
  color: #fff;
  text-decoration: none;
  text-shadow: 0 0 1px #000;
  font: 24px/27px Arial, sans-serif;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  -webkit-box-shadow: 0 0 4px #F0EFE7;
  -moz-box-shadow: 0 0 4px #F0EFE7;
  box-shadow: 0 0 4px #F0EFE7;
}

.jcarousel-control-prev {
  left: 15px;
}

.jcarousel-control-next {
  right: 15px;
}

/** Carousel Pagination **/

.jcarousel-pagination {
  position: absolute;
  bottom: -40px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  margin: 0;
}

.jcarousel-pagination a {
  text-decoration: none;
  display: inline-block;

  font-size: 11px;
  height: 10px;
  width: 10px;
  line-height: 10px;

  background: #fff;
  color: #4E443C;
  border-radius: 10px;
  text-indent: -9999px;

  margin-right: 7px;


  -webkit-box-shadow: 0 0 2px #4E443C;
  -moz-box-shadow: 0 0 2px #4E443C;
  box-shadow: 0 0 2px #4E443C;
}

.jcarousel-pagination a.active {
  background: #4E443C;
  color: #fff;
  opacity: 1;

  -webkit-box-shadow: 0 0 2px #F0EFE7;
  -moz-box-shadow: 0 0 2px #F0EFE7;
  box-shadow: 0 0 2px #F0EFE7;
}

$pill-border-radius:  20px !default;
$pill-margin-x:       10px !default;
$pill-margin-y:       15px !default;

$pill-bg:             #FFF !default;
$pill-border:         rgb(187, 187, 187) !default;
$pill-font:           rgb(20, 164, 190) !default;

$pill-hover-bg:       rgb(21, 139, 159) !default;
$pill-hover-border:   rgb(21, 139, 159) !default;
$pill-hover-font:     #FFF !default;

$pill-active-bg:      rgb(20, 164, 190) !default;
$pill-active-border:  rgb(20, 164, 190) !default;
$pill-active-font:    #FFF !default;

body {
  font-family: "Open Sans";
}

.button-group-pills {
  .btn {
    border-radius: $pill-border-radius;
    line-height: 1.2;
    
    margin-bottom: $pill-margin-y;
    margin-left:   $pill-margin-x;
    
    border-color: $pill-border;
    background-color: $pill-bg;
    color: $pill-font;
    
    &.active {
      border-color:     $pill-active-border;
      background-color: $pill-active-bg;
      color:            $pill-active-font;
      
      box-shadow: none;
    }

    &:hover {
      border-color:     $pill-hover-border;
      background-color: $pill-hover-bg;
      color:            $pill-hover-font;
    }
    
  }
}